@mixin poCentering {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

$green1: #fbf6ff;
$green3: #e8cbfb;
$green6: var(--themeColor);
$grey1: #ffffff;
$grey2: #f5f5f5;
$grey9: #666565;
$grey12: #333333;

.user-riddle-screen {
  .user-riddle-container {
    width: 640px;
    height: 265px;
    padding: 3em 4em;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.160784);
    overflow: hidden;
    border-radius: 6px;
    @include poCentering();

    .loader-container {
      display: flex;
      justify-content: center;
      margin-top: 2em;
    }

    .done-gif-container {
      display: flex;
      justify-content: center;
      .done-gif {
        height: 150px;
        width: 150px;
      }
    }

    .user-done-info {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      margin-top: 1em;
    }

    .user-riddle-info {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      margin-top: 2em;
    }

    .refresh-button {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      .submit-button {
        display: flex;
        align-items: flex-end;
        background: var(--themeColor);
        color: white;
        padding: 6px 28px;
        height: 42px;
        border-radius: 6px;
        font-size: 16px;
        outline: none;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
        cursor: pointer;

        .button-icon {
          margin-right: 6px;
          font-size: 18px;
        }

        &:hover {
          background: var(--themeColorDark);
        }
      }
    }

    .metamask-enable {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      .wallet-connect-container {
        padding: 4px 25px;
        border: 1px solid var(--themeColor);
        border-radius: 3rem;
        color: var(--themeColor);
        font-size: 0.9rem;
        background-color: transparent;
        cursor: pointer;
        user-select: none;
        font-weight: 500;
        width: fit-content;
        .address-container {
          display: flex;
          align-items: center;
          .address-blockie {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin-left: 10px;
          }

          .metamask-icon {
            height: 20px;
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }

    .user-riddle-header {
      display: flex;
      align-items: flex-end;
      .user-riddle-question {
        margin-right: 12px;
        font-size: 18px;
        font-weight: 500;
        flex-grow: 1;
      }
      .user-riddle-status {
        width: 15%;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 24px;
        .riddle-list-item-timer-icon {
          margin-right: 10px;
        }
      }
    }
    .user-riddle-options-container {
      margin: 1.5em 0em;
      .user-riddle-option {
        width: fit-content;
        input[type="radio"] {
          display: none;
          & + label {
            position: relative;
            display: inline-block;
            padding-left: 24px;
            margin-right: 32px;
            cursor: pointer;
            line-height: 16px;
            transition: all 0.2s ease-in-out;
            margin-bottom: 10px;
            &:before,
            &:after {
              content: "";
              position: absolute;
              top: -1px;
              left: 0;
              width: 16px;
              height: 16px;
              text-align: center;
              color: $grey2;
              font-family: Times;
              border-radius: 50%;
              transition: all 0.3s ease;
            }
          }
        }
        input[type="radio"] + label {
          &:before {
            box-shadow: inset 0 0 0 1px $grey9, inset 0 0 0 16px $grey1,
              inset 0 0 0 16px $green6;
          }
          &:hover {
            color: $green6;
          }
          &:hover:before {
            //transition: all .3s ease;
            animation-duration: 0.5s;
            animation-name: change-size;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            box-shadow: inset 0 0 0 1px $green6, inset 0 0 0 16px $grey1,
              inset 0 0 0 16px $green6;
          }
        }
        input[type="radio"]:checked + label {
          &:hover {
            color: $grey12;
            cursor: default;
          }
          &:before {
            //transition: all .3s ease;
            animation-duration: 0.2s;
            animation-name: select-radio;
            animation-iteration-count: 1;
            animation-direction: Normal;
            box-shadow: inset 0 0 0 1px $green6, inset 0 0 0 3px $grey1,
              inset 0 0 0 16px $green6;
          }
        }

        @keyframes change-size {
          from {
            box-shadow: 0 0 0 0 $green6, inset 0 0 0 1px $green6,
              inset 0 0 0 16px $grey1, inset 0 0 0 16px $green6;
          }

          to {
            box-shadow: 0 0 0 1px $green6, inset 0 0 0 1px $green6,
              inset 0 0 0 16px $grey1, inset 0 0 0 16px $green6;
          }
        }

        @keyframes select-radio {
          0% {
            box-shadow: 0 0 0 0 $green3, inset 0 0 0 2px $grey1,
              inset 0 0 0 3px $green6, inset 0 0 0 16px $grey1,
              inset 0 0 0 16px $green6;
          }

          90% {
            box-shadow: 0 0 0 10px $green1, inset 0 0 0 0 $grey1,
              inset 0 0 0 1px $green6, inset 0 0 0 2px $grey1,
              inset 0 0 0 16px $green6;
          }

          100% {
            box-shadow: 0 0 0 12px $green1, inset 0 0 0 0 $grey1,
              inset 0 0 0 1px $green6, inset 0 0 0 3px $grey1,
              inset 0 0 0 16px $green6;
          }
        }
      }
    }
    .user-riddle-submit-container {
      display: flex;
      justify-content: center;
      .submit-button {
        display: flex;
        align-items: flex-end;
        background: var(--themeColor);
        color: white;
        padding: 6px 28px;
        height: 42px;
        border-radius: 6px;
        font-size: 16px;
        outline: none;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
        cursor: pointer;

        .button-icon {
          margin-left: 6px;
          font-size: 18px;
        }

        &:hover {
          background: var(--themeColorDark);
        }
      }
    }
  }
}
