.event-single-screen {
  margin: 4em 15.5em;

  .event-single-header {
    display: flex;
    align-items: center;

    .event-back-button {
      height: 24px;
      width: 24px;
      margin-right: 12px;
      cursor: pointer;
    }

    h2 {
      margin: 0;
      height: fit-content;
      font-size: 30px;
    }
  }

  .event-single-body {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
    .event-single-left {
      width: 50%;
      .event-image-container {
        width: 80%;
        .event-image {
          width: 100%;
          border-radius: 6px;
        }
      }
      .event-organiser-container {
        margin-top: 1.5em;
        width: 80%;
        .event-organiser-title {
          font-size: 24px;
          font-weight: 500;
        }
        .event-organiser-list-container {
          margin: 0.5em 0em;
          .event-organiser-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            .event-organiser-items {
              display: inline-flex;
              align-items: center;
              margin-right: 1em;
              .event-organiser-item-image {
                display: flex;
                .organiser-icon {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  margin-right: 8px;
                }
              }
              .event-organiser-item-address {
                font-weight: 500;
              }
            }
          }
        }
      }
      .event-staked-amount-container {
        margin-top: 1.75em;
        width: 80%;
        display: flex;
        align-items: center;
        .event-staked-amount-title {
          font-size: 24px;
          font-weight: 500;
          margin-right: 12px;
        }
        .event-staked-amount {
          padding: 4px 8px;
          background: var(--themeColor);
          color: white;
          font-size: 14px;
          border-radius: 6px;
          font-style: italic;
        }
      }
      .event-participants-container {
        width: 90%;
        margin-top: 1.75em;
        .event-participants-title {
          font-size: 24px;
          font-weight: 500;
        }
        .event-participants-list-container {
          margin-top: 1.5em;
          .event-participants-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 30px;
            .event-participants-items {
              text-align: center;
              .event-participants-icons {
                .participants-icon {
                  width: 72px;
                  height: 72px;
                  border-radius: 50%;
                  margin-bottom: 8px;
                }
              }
              .event-participants-address {
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .event-single-right {
      width: 50%;
      .event-min-checkpoint-container {
        .event-min-checkpoint-title {
          font-size: 18px;
          font-weight: 500;
        }
        .event-min-checkpoint-amount {
          font-size: 24px;
          font-weight: 600;
        }
      }
      .event-checkpoint-list-container {
        margin-top: 1.75em;
        .event-checkpoint-list-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .event-checkpoint-title-text {
            font-size: 24px;
            font-weight: 500;
          }

          .create-checkpoint-button {
            padding: 0em 1.5em;
            border-radius: 8px;
            height: 42px;
            font-size: 15px;
            font-weight: 500;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: 0.5s all;
            color: white;
            outline: none;
            background: var(--themeColor);

            &:hover {
              background-color: var(--themeColorDark);
              color: white;
              transform: scale(1.01);
              box-shadow: 0 6px 4px #a9a9a985;
            }

            .button-text {
              margin-left: 8px;
            }

            .button-icon {
              font-size: 15px;
            }
          }
        }
        .event-checkpoint-list {
          margin-top: 1em;
          .event-checkpoint-list-item {
            margin: 1em 0em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5em 1em;
            border-radius: 6px;
            border: 1px solid #27a744;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
            cursor: pointer;
            transition: 0.3s all;
            &:hover {
              transform: scale(1.03);
            }
            .event-checkpoint-details {
              flex-grow: 1;
              .event-checkpoint-list-item-name {
                font-size: 18px;
                font-weight: 400;
              }
              .event-checkpoint-list-item-status {
                font-size: 14px;
              }
            }
            .event-checkpoint-delete {
              cursor: pointer;
              transition: 0.3s all;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
