.riddles-screen {
  margin: 4em 15.5em;

  .riddles-header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;

    .riddles-header-left {
      display: flex;
      align-items: center;
      .riddles-back-button {
        height: 24px;
        width: 24px;
        margin-right: 12px;
        cursor: pointer;
      }

      div {
        h2 {
          margin: 0;
          height: fit-content;
        }
        span {
          font-weight: 500;
        }
      }
    }

    .create-riddles-button {
      padding: 0em 2em;
      border-radius: 8px;
      height: 48px;
      font-size: 16px;
      font-weight: 500;
      margin-right: 12px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.160784);
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 0.5s all;
      color: white;
      background: var(--themeColor);

      &:hover {
        background-color: var(--themeColorDark);
        color: white;
        transform: scale(1.01);
        box-shadow: 0 6px 4px #a9a9a985;
      }

      .button-text {
        margin-left: 8px;
      }

      .button-icon {
        font-size: 15px;
      }
    }
  }

  .riddles-list-container {
    margin: 2em 0em;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 30px;
    .riddle-list-item {
      width: 98%;
      margin-right: 12px;
      margin-bottom: 12px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.160784);
      border-radius: 6px;
      position: relative;
      list-style-type: none;
      .riddle-list-item-container {
        display: flex;
        flex-direction: column;

        .riddle-list-item-header {
          margin: 1em 1em 0em 1em;
          display: flex;
          align-items: baseline;

          .riddle-list-item-question {
            margin-right: 12px;
            flex-grow: 1;
          }

          .riddle-list-item-status {
            width: 20%;
            text-align: right;
            font-weight: 500;

            .riddle-list-item-status-text {
              width: max-content;
            }
            .timer-container {
              display: flex;
              align-items: center;

              .riddle-list-item-timer-icon {
                margin-right: 4px;
              }
            }
          }
        }

        .riddle-list-item-options {
          margin: 1em;
        }

        .riddle-list-item-answer {
          margin: 0em 1em 4em 1em;
          .riddle-list-item-answer-title {
            font-weight: 500;
          }
        }

        .margin-set {
          margin-bottom: 4em !important;
        }

        .riddle-list-item-actions {
          display: flex;
          align-items: center;
          width: 100%;
          bottom: 0;
          position: absolute;
          .riddle-list-item-action-button {
            flex-grow: 1;
            border: 0;
            font-size: 14px;
            font-weight: 500;
            padding: 1em;
            background: var(--themeColor);
            color: white;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            outline: none;

            &:nth-child(1) {
              border-radius: 0px 0px 0px 6px;
            }

            &:nth-child(2) {
              border-radius: 0px;
              border-left: 1px solid;
              border-right: 1px solid;
            }
            &:nth-child(3) {
              border-radius: 0px;
              border-right: 1px solid;
            }

            &:nth-child(4) {
              border-radius: 0px 0px 6px 0px;
            }

            &:hover {
              background: var(--themeColorDark);
            }

            &:disabled {
              background: lighten($color: #6e76ff, $amount: 10);
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .create-new-riddles-container {
    padding: 1em 2em;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.160784);
    border-radius: 6px;

    .riddles-header {
      display: flex;
      padding-bottom: 4px;
      border-bottom: 1px solid var(--bodyBg);
      justify-content: space-between;
    }

    .riddle-form-container {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      .riffle-question-container {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2em;
        .riddle-question-textarea {
          width: 73%;
          outline: none;
          border-radius: 6px;
          border: 1px solid #b1b1b1;
          padding: 8px 12px;
          font-size: 16px;
        }
      }

      .riddle-options-container {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2em;
        .riddle-option-input-container {
          width: 75%;

          .riddle-option-input-item {
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            .riddle-option-input {
              outline: none;
              flex-grow: 1;
              border-radius: 6px 0px 0px 6px;
              border-top: 1px solid #b1b1b1;
              border-bottom: 1px solid #b1b1b1;
              border-left: 1px solid #b1b1b1;
              border-right: 0px;
              padding: 8px 12px;
              font-size: 16px;
            }

            .add-riddle-option-button {
              background: var(--themeColor);
              color: white;
              padding: 6px 15px;
              height: 37px;
              border-radius: 0px 6px 6px 0px;
              border: 1px solid var(--themeColor);
              font-size: 16px;
              outline: none;
              cursor: pointer;

              .add-icon {
                margin-right: 6px;
                font-size: 14px;
              }

              &:hover {
                background: var(--themeColorDark);
              }
            }
          }
          .riddle-option-list-container {
            padding: 0px !important;
            margin: 0px !important;
            transition: 0.5s all linear;

            .riddle-option {
              display: inline-block;
              width: 45.17%;
              align-items: center;
              padding: 0.5em 1em;
              border-radius: 6px;
              border: 1px solid var(--bodyBg);
              .riddle-option-item {
                display: flex;
                .riddle-option-name {
                  flex-grow: 1;
                }
                .riddle-option-delete-button {
                  cursor: pointer;
                  transition: 0.3s all;

                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
              &:nth-child(2n + 1) {
                margin-right: 12px;
              }

              &:nth-child(n + 3) {
                margin-top: 12px;
              }
            }
          }
        }
      }

      .riddle-answer-container {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2em;
        .riddle-answer-input {
          width: 72.8%;
          outline: none;
          border-radius: 6px;
          border: 1px solid #b1b1b1;
          padding: 8px 12px;
          font-size: 16px;
        }
      }

      .riddle-timer-container {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2em;
        .riddle-timer-input {
          width: 60px !important;
          outline: none;
          border-radius: 6px;
          border: 1px solid #b1b1b1;
          padding: 8px 12px;
          font-size: 16px;
          text-align: center;
        }
      }

      .riddle-submit-button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1em;

        .submit-button {
          display: flex;
          align-items: flex-end;
          background: var(--themeColor);
          color: white;
          padding: 6px 28px;
          height: 42px;
          border-radius: 6px;
          font-size: 16px;
          outline: none;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
          cursor: pointer;

          .button-icon {
            margin-left: 6px;
            font-size: 18px;
          }

          &:hover {
            background: var(--themeColorDark);
          }
        }
      }

      .form-label {
        width: 25%;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
