.events-screen {
  margin: 4em 15.5em;

  .event-header {
    display: flex;
    justify-content: space-between;

    h2 {
      margin: 0;
      height: fit-content;
    }

    .create-event-button {
      padding: 0em 2em;
      border-radius: 8px;
      height: 48px;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 0.5s all;
      color: white;
      background: var(--themeColor);

      &:hover {
        background-color: var(--themeColorDark);
        color: white;
        transform: scale(1.01);
        box-shadow: 0 6px 4px #a9a9a985;
      }

      .button-text {
        margin-left: 8px;
      }

      .button-icon {
        font-size: 15px;
      }
    }
  }

  .event-list-container {
    margin: 2em 0em;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    .event-list-item {
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.160784);
      border-radius: 6px;
      list-style-type: none;
      cursor: pointer;
      .event-list-item-container {
        display: flex;
        flex-direction: column;

        .event-item-header {
          height: 60%;
          .event-image {
            width: 100%;
            height: 100%;
            border-radius: 6px 6px 0px 0px;
          }
        }
        .event-item-body-container {
          margin: 1em;
          .event-name {
            margin-bottom: 0.4em;
            font-size: 20px;
            font-weight: 500;
          }

          .event-checkin {
            margin-bottom: 1.5em;
            font-size: 16px;
          }

          .event-stake {
            margin-bottom: 1.5em;
            .event-amount-staked {
              padding: 4px 8px;
              background: var(--themeColor);
              color: white;
              font-size: 14px;
              border-radius: 6px;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
