.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .modal-add-event {
    .modal-title {
      font-size: 24px;
      font-weight: 600;
      margin: 1em 0em;
      text-align: center;
    }

    .form-elements {
      margin: 2em;
    }

    .form-button-elements {
      margin: 2em;
      display: flex;
      justify-content: center;
    }

    .form-label {
      font-size: 18px;
      font-weight: 500;
    }

    .form-input {
      width: 95%;
      outline: none;
      border-radius: 6px;
      border: 1px solid #b1b1b1;
      padding: 8px 12px;
      font-size: 16px;
      margin-top: 0.75em;
    }

    .submit-button {
      display: flex;
      align-items: flex-end;
      background: var(--themeColor);
      color: white;
      padding: 6px 28px;
      height: 42px;
      border-radius: 6px;
      font-size: 16px;
      outline: none;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
      cursor: pointer;

      .button-icon {
        margin-left: 6px;
        font-size: 18px;
      }

      &:hover {
        background: var(--themeColorDark);
      }
    }
  }

  .modal-add-checkpoint {
    .modal-title {
      font-size: 24px;
      font-weight: 600;
      margin: 1em 0em;
      text-align: center;
    }

    .form-elements {
      margin: 2em;
    }

    .form-button-elements {
      margin: 2em;
      display: flex;
      justify-content: center;
    }

    .form-label {
      font-size: 18px;
      font-weight: 500;
    }

    .form-input {
      width: 95%;
      outline: none;
      border-radius: 6px;
      border: 1px solid #b1b1b1;
      padding: 8px 12px;
      font-size: 16px;
      margin-top: 0.75em;
    }

    .submit-button {
      display: flex;
      align-items: flex-end;
      background: var(--themeColor);
      color: white;
      padding: 6px 28px;
      height: 42px;
      border-radius: 6px;
      font-size: 16px;
      outline: none;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
      cursor: pointer;

      .button-icon {
        margin-left: 6px;
        font-size: 18px;
      }

      &:hover {
        background: var(--themeColorDark);
      }
    }
  }

  .modal-show-quiz-link {
    .modal-title {
      font-size: 24px;
      font-weight: 600;
      margin: 1em 0em;
      text-align: center;
    }

    .form-elements {
      margin: 6em 2em;
    }

    .quiz-link-container {
      display: flex;
      padding: 0.8em 1em;
      cursor: pointer;
      background: var(--bodyBg);
      border-radius: 8px;
      border: 1px solid var(--labelColor);
      color: #323232;
      .quiz-link {
        width: 95%;
        margin-right: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:active {
        background: #dedede;
      }
    }

  }

  .modal-transac {
    .modal-loader {
      margin: 48px 12px 12px 12px;
      display: flex;
      justify-content: center;

      .icon-container {
        width: 136px;

        .success-icon {
          width: 99%;
          height: 91%;
          color: #27a744;
        }

        .fail-icon {
          width: 99%;
          height: 91%;
          color: #db3445;
        }
      }
    }
    .modal-title {
      font-size: 36px;
      font-weight: 800;
      margin: 18px 0px;
      text-align: center;
    }

    .success {
      color: #27a744;
    }

    .fail {
      color: #db3445;
    }

    .modal-message {
      padding: 0px 24px;
      text-align: center;
      font-size: 18px;
    }
  }
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 24px;
  border: 0;
  padding: 5px 10px;
  font-size: 1.3rem;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #c7c7c782;
  }
}
