.home-screen {
  margin: 15em 4em;
  text-align: center;

  .home-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .home-desc {
    font-size: 24px;
    margin-bottom: 1em;
  }

  .open-app {
    display: flex;
    justify-content: center;

    .open-app-button {
      padding: 0.6em 3em;
      border-radius: 24px;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.160784);
      cursor: pointer;
      border: 1px solid var(--themeColor);
      color: var(--themeColor);
      display: flex;
      align-items: center;
      transition: 0.5s all;

      &:hover {
        background-color: var(--themeColor);
        color: white;
        transform: scale(1.01);
        box-shadow: 0 6px 4px #a9a9a985;
      }

      .button-text {
        margin-right: 8px;
        margin-bottom: 2px;
      }

      .button-icon {
        font-size: 24px;
      }
    }
  }
}
