@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Roboto:100,200,300,400,500,600");

:root {
  --headlinesFont: "Josefin Sans", sans-serif;
  --bodyFont: "Roboto", sans-serif;
  --wildWatermelon: #ff4f87;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --bodyBg: #c7c7c7;
  --white: #fff;
  --black: #000;
  --themeColor: #6e76ff;
  --themeColorDark: #000e1c;
  --labelColor: #737373;
}

.App {
  background: var(--white);
  font-family: var(--bodyFont);
  color: var(--textColor);
  line-height: 1.5;
  height: 100vh;
}

.alert {
  position: fixed;
  top: 24px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;

  .alert-container {
    width: 30%;
    padding: 0.5rem 4rem;
    text-align: center;
    background: #e01141;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.160784);
  }
}
